@import "tailwindcss";

body {
  background-color: #fdfdfc; /* of-white background */
  color: #171717;            /* default dark text */
  padding-bottom: calc(64px + env(safe-area-inset-bottom)); /* space for floating navbar */
}

@media (max-width: 600px) {
  body {
    padding-bottom: calc(80px + env(safe-area-inset-bottom));
  }
}